<div class="container-xl">
          
    <!-- Page title Header -->
    <div class="page-header d-print-none">
      <div class="row align-items-center">
        
        <!-- Page title -->
        <div class="col">
          <!-- Page pre-title 
          <div class="page-pretitle">
            Overview
          </div> -->
          <h2 class="page-title">
            Dashboard
          </h2>
        </div> 

      </div>
    </div>

</div>  <!-- ./container-xl -->

<!-- Contenido Página -->
<div class="page-body">
    <div class="container-xl">
        <p>Bienvenido</p>
    </div>
</div>  <!-- ./page-body Contenido Página -->
 
